html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(0, 57, 114);
    margin: 0px;
}

.opening {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    animation: zin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes zin {
    0% {
        z-index: 5;
    }

    100% {
        z-index: -2;
    }
}

.logo {
    max-width: 50%;
    max-height: 100%;
    display: block;
    margin: auto;
    left: 25%;
    top: 0%;
    transform: translate(0px, 200vh);
    animation: opening;
    animation-duration: 2s;
    transition: ease-in-out;
    z-index: 5;
    position: fixed;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: block;
    z-index: 4;
    transform: translate(0px, 200vh);
    animation: openingbg;
    animation-duration: 2.5s;
    animation-delay: 0s;
    transition: ease-in-out;
    position: fixed;
    user-select: none;
}

.logopoint {
    max-width: 10vh;
    max-height: 10vh;
    margin: 1vh;
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    filter: invert(100%);
    background-color: rgb(221, 255, 0);
    border-radius: 100%;
    animation: sublogo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    transition: 200ms ease-in-out;
    position: fixed;
    float: left;
}

.logopoint:hover {
    max-width: 12vh;
    max-height: 12vh;
    width: 20vh;
    height: 20vh;
    margin: 2vh;
    cursor: pointer;
}

/* .top {
    width: 100%;
    position: fixed;
    top: 0;
}

.topbar {
    background-color: rgb(0, 175, 228);
    overflow: hidden;
    width: 100%;
    right: 0;
}

.topbar a{
    float: right;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 30px;
    transition: 200ms ease-in-out;
}

.topbar a:hover {
    padding: 14px 40px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.active {
    background-color: rgb(92, 92, 92);
}
*/

.ytvid {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    padding-top: 10vw;
}

/* .games {
    background-color: white;
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 14vw;
} */

.title {
    text-align: center;
    padding: 1vw;
    width: 50%;
    display: block;
    font-size: 5vw;
    margin: auto;
    border-radius: 0px 100px;
    font-family: 'Courier New', Courier, monospace;
}


@keyframes opening{
    0% {
        transform: translate(0px, 0vh);
    }
    20% {
        transform: translate(0px, 0vh);
    }
    100% {
        transform: translate(0px, -200vh);
    }
}

@keyframes openingbg {
    0% {
        transform: translate(0px, 0vh);
    }

    20% {
        transform: translate(0px, 0vh);
    }
    100% {
        transform: translate(0px, -200vh);
    }
}

@keyframes sublogo {
    0% {
        transform: translate(0px, -50vh);
    }
    30% {
        transform: translate(0px, -50vh);
    }
    100% {
        transform: translate(0px, 0vh);
    }
}